<!DOCTYPE html>
<html>
  <head>
    <title>Whitech</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/grid.css' />
  </head>
  <body>
    <div id="root">..loading</div>
    <script type="text/javascript" src="/javascripts/app.bundle.js"></script>
  </body>
</html>
